.about {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .about-right {
    flex: 1;
  }
  
  .about-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: var(--color4);
  }
  
  .about-card {
    width: 70%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  
  
  .about-img {
    width: 60%;
    height: 50vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .about-title {
    font-weight: 400;
  }
  
  .about-sub {
    margin: 20px 0px;
  }
  
  
  .about-philly{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .about-texts{
      width: 70%;
  }
  
  .about-title{
      font-weight: bold;
      color: #555;
      margin-bottom: 10px;
  }
  
  @media screen and (max-width:480px) {
      .about{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
      }

      .about-img {
        width: 100%;
      }
  
      .about-left {
        width: 100%;
      }
  
      .about-card {
        height: 50vh;
      }
  
      .about-card.bg, .about-philly {
        display: none;
      }
  
      .about-right{
        padding: 20px;
      }
  }