.intro{
    display: flex;
    height: 100vh;
}

.intro-left{
    flex: 1;
}

.intro-right{
    flex: 1;
}

.intro-left-wrapper{
    padding: 50px;
}

.i-intro{
    font-size: 30px;
    font-weight:300
}

.intro-name{
    font-size: 60px;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-item{
    height: 50px;
    font: size 30px;
    font-weight: bold;
    background-color: gray;
    display: flex;
    align-items: center;
}

.intro-title{
    
}